In [3]:
# BMI Dataset
# Pertemuan ke-40
# Willi Sianturi
# 27 Mei 2022

# Import library
import pandas as pd
from sklearn import datasets
from sklearn import metrics
from sklearn import preprocessing
from sklearn import svm
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("D:/myproject/datasets/bmi.csv")
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [5]:
# Split data training dan testing
X = df[["Height", "Weight"]]
y = df["Index"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [6]:
model = svm.SVC()

In [7]:
model.fit(X_train, y_train)

SVC()

In [8]:
y_predict = model.predict(X_test)
y_predict

array([3, 3, 2, 2, 4, 5, 4, 5, 4, 5, 5, 5, 2, 5, 5, 5, 5, 1, 2, 1, 5, 5,
       5, 2, 3, 5, 2, 5, 3, 5, 1, 3, 2, 3, 5, 5, 5, 2, 2, 4, 3, 2, 5, 5,
       5, 1, 5, 2, 4, 4, 4, 4, 5, 5, 4, 4, 2, 4, 2, 2, 3, 3, 2, 5, 2, 4,
       2, 5, 5, 4, 5, 5, 4, 3, 4, 4, 3, 5, 1, 4, 5, 3, 5, 2, 5, 5, 5, 2,
       2, 5, 4, 2, 2, 4, 4, 4, 5, 5, 5, 2, 4, 4, 5, 3, 4, 5, 5, 2, 3, 5,
       5, 4, 4, 5, 4, 4, 2, 4, 5, 3, 5, 4, 3, 5, 3, 2, 2, 5, 4, 2, 3, 5,
       4, 4, 1, 5, 4, 5, 5, 3, 5, 5, 4, 4, 5, 5, 2, 5, 3, 2], dtype=int64)

In [9]:
metrics.accuracy_score(y_test, y_predict) * 100

92.0